.input-modal{
    width: 350px;
    padding: 20px;
    border-radius: 24px;
    border: none;
    outline: none;
}

.modal{
    padding: 20px;
    border-radius: 24px;
    border: none;
    outline: none;
}

.input-modal::backdrop, .modal::backdrop{
    background: rgba(0, 0, 0, 0.6);
}

.modal-button-section{
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 100%;
    height: 40px;
    font-size: large;
}

.modal-button{
    box-sizing: border-box;
    font-family: fantasy;
    display: inline-block;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

.cancel{
    border: black 3px solid;
    background: white;
}

.confirm{
    color: white;
    background : mediumseagreen;
    border: none;
}

.manage{
    margin: 10px calc((100% - 300px) / 4);
    width: calc(300px + (100% - 300px) / 2);
    color: white;
    background : #be9800;
    border: none;
}

.close{
    display: block;
    margin: auto;
    width: 225px;
}

.confirm:hover{
    background: #1e9553;
}

.confirm:active{
    background: #0a813f;
}

.manage:hover{
    background: #a07a00;
}

.manage:active{
    background: #8c6600;
}

.cancel:hover{
    color: white;
    background: indianred;
}

.cancel:active{
    background: #9b2a2a;
}

.modal-input{
    font-family: fantasy;
    font-size: large;
    width:350px;
    height:40px;
    background-color: white;
    color:black;
    padding: 20px;
    margin:10px 0;
    border:#008dcd solid 3px;
    border-radius: 10px;
}

.modal-input:focus{
    border-color: #005b9b;
}
